# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Django stuff:
db.sqlite3
*.sqlite3
media/
static/

# Environments
.env
venv/
.Venv/
env/
ENV/

# Node modules
frontend/node_modules/

# Compiled Vue files
frontend/dist/

# Docker files
*.log
docker-compose.override.yml
docker-compose.yml
docker-compose.prod.yml
Dockerfile

# VS Code files
.vscode/

# macOS files
.DS_Store
